:root{
    --n : 2
}
*{
    box-sizing: border-box;
    display: block;
    margin: 0;
    padding : 0;
    background-color: antiquewhite;
}
.game {
    /* je crée une grille de 500*500 */
    position: relative;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(var(--n), 1fr 5fr) 1fr;
    grid-template-rows: repeat(var(--n), 1fr 5fr) 1fr;
    margin: 3rem auto;
}
/* les bords et les carrés qui ont la class border et cross entre sont coloriés en noir */
.border, .cross {
    background-color: black;
}

.h{
    grid-column-end: auto;
}

.v {
    grid-row-end: auto;
}

/*les cases sont coloriés en marron*/
.tile {
    background-color: brown;
    opacity: 30%;
}

/*les bords auquel j'ai ajouté à leur classe border-0 sont coloriés */
.border-0{
    background-color: darkorange;
}
.border-1{
    background-color: aqua;
}
.taken{
    opacity: 30%;
}
.first{
    background-color: darkorange;
}
.second{
    background-color:aqua;
}

.playeractu{
    position: fixed;
    right: 0;
    top: 0;
    width: 2rem;
    height: 2rem;
}