*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 900;
    --enormous-size : 8rem;
    --big-size : 2.2rem;
    --small-size : 1.5rem;
    
    --bg-image: radial-gradient(circle at 90.56% -7.92%, #8a5b5b 0, #88565a 6.25%, #86505a 12.5%, 
    #824959 18.75%, #7d4159 25%, #773959 31.25%, #6f3159 37.5%, #652859 43.75%,
    #591f59 50%, #4b185a 56.25%, #3a135b 62.5%, #24125d 68.75%, #00125f 75%, #001460 81.25%,
    #001461 87.5%, #001461 93.75%, #001461 100%);
    --red-accent : #F55139;
    --blue-accent : #253EE7;
    --contrast-color : #ffffff;

    --divisor-light : rgba(31, 40, 47, 0.5);

    --x-offset : -4px;
    --y-offset : -15px;
    color:var(--contrast-color);
}
body{
    background-image: var(--bg-image);
}

h1 span{
    display: inline-block;
    position: relative;
    overflow: hidden; 
    position: relative; 
}

h1{
    text-transform: uppercase;  
    font-weight: 900;
    color: transparent;
    font-family: 'Despairs-Trial'; 
    overflow: hidden;
}

h1 span::after{
    content: "";
    display: block;
    /*meme position que l'élément que yavait avant*/
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transform: translateX(-100%);
}

h1:nth-child(1) {
    animation: txt-appearance 0s 0.75s forwards;
}
/*mon bloc slide in et slide out*/
h1:nth-child(1) span::after {
    background: var(--red-accent);
    animation: slide-in 0.5s ease-out forwards,
    slide-out 0.5s 0.75s ease-out forwards;
}

/*on passe de -100 à 0 à 100%*/
@keyframes slide-in {
    100% {
        transform: translateX(0%);
    }
}
@keyframes slide-out {
    100% {
        transform: translateX(100%)
    }
}
@keyframes txt-appearance {
    100% {
    }
}


.title-container{
    margin-bottom: -2vh;
    margin-top: 2vh;
    font-size: var(--big-size);
    text-align: center;
;
}

@font-face {
    font-family:'Despairs-Trial' ;
    src: url(Despairs\ Trial.woff) format('woff'),
         url(Despairs\ Trial.woff2) format('woff2')
}

.container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4px 4fr;
    width: 50vw;
    max-width: 800px;
    left: 50%;
    translate: -50%;
    row-gap: 2vw;
    font-family: sans-serif;
}

.container > section {
    justify-self: stretch;
}

.form{
    display: contents;
}

.join {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.join-input {
    width: 86%;
    font-size: var(--big-size);
    padding: 0.3rem;
    background-color: var(--red-accent);
    border-radius: 5px;
    border: none;
    text-align: center;
}
.enter-game{
    width: 12%;
    font-size: var(--big-size);
}
.divisor {
    background-color: var(--contrast-color);
}
.create{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-title {
    width: 100%;
    text-align: center;
    font-size: var(--big-size);
    margin-bottom: 2rem;
}
.settings{
    width: 100%;
    display: grid;
    grid-template-columns: max-content 8rem;
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 3rem;
    row-gap: .7rem;
}
.choice{
    display: inline-block;
    width: 8rem;
    border: 3px solid var(--blue-accent);
    border-radius: 5px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--small-size);
    background-color: transparent;
}
.create-game, .enter-game{
    
    font-size: var(--big-size);
    background-color: var(--blue-accent);
    border-radius: 5px;
    padding: 0.3rem;
    border:none;
}
.create-game{
    width: 100%;
}

.params{
    font-size: var(--small-size);
}